body {
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(184, 134, 230);
  border-radius: 20px;
}

.container table {
  margin: auto;
}

img {
  width: 36px;
  height: 36px;
}

table tr td {
  width: 40px;
  height: 40px;
}

.circle {
  width: 30px;
  height: 30px;
  margin: auto;
  border: 1px solid #000000;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.aqua {
  background-color: aquamarine;
}

.gray {
  background-color: gray;
}


